.OrangeColor {
    background-color: orange;
}

p {
    text-indent: 25px;
}

.PurpleText {
    color: purple;
}

.RedColor {
    background-color: red;
}

.BlueText {
    color: blue;
}

.GreenText {
    color: green;
}